<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE plist PUBLIC "-//Apple//DTD PLIST 1.0//EN" "http://www.apple.com/DTDs/PropertyList-1.0.dtd">
<plist version="1.0">
<dict>
	<key>API_KEY</key>
	<string>AIzaSyBWNR86vGPcIXGU7ks7Mrcu-DOAf-DOWWQ</string>
	<key>GCM_SENDER_ID</key>
	<string>996146573956</string>
	<key>PLIST_VERSION</key>
	<string>1</string>
	<key>BUNDLE_ID</key>
	<string>com.example.recorderApp</string>
	<key>PROJECT_ID</key>
	<string>recorder-app-3fffd</string>
	<key>STORAGE_BUCKET</key>
	<string>recorder-app-3fffd.firebasestorage.app</string>
	<key>IS_ADS_ENABLED</key>
	<false></false>
	<key>IS_ANALYTICS_ENABLED</key>
	<false></false>
	<key>IS_APPINVITE_ENABLED</key>
	<true></true>
	<key>IS_GCM_ENABLED</key>
	<true></true>
	<key>IS_SIGNIN_ENABLED</key>
	<true></true>
	<key>GOOGLE_APP_ID</key>
	<string>1:996146573956:ios:569c359232da07934588d1</string>
</dict>
</plist>